Name: Alireza Amiri (aca12aa)
Assignment: UML Exercise 1: Requirements
Date Submitted: Thursday, 14 November 2013 14:15:40 o'clock GMT
Current Grade: Needs Grading

Submission Field:
There is no student submission text data for this assignment.

Comments:
Got rid of all extra pages. 
Unfortunatly I did not manage to get rid of Watermarks that might be there because it's a trial version. 

Files:
	Original filename: UMLAssignment1.aca12aa.pdf
	Filename: UML Exercise 1  Requirements_aca12aa_attempt_2013-11-14-14-15-40_UMLAssignment1.aca12aa.zip

